# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Plugin directory
/.quarkus/cli/plugins/
# TLS Certificates
.certs/
/terraform/terraform.tfvars
/src/main/resources/META-INF/resources/.well-known/publickey.pem
/src/main/resources/publicKey.pem
/terraform/variables.tf
/src/main/resources/privateKey.pem
/terraform/main.tf
/jwt-setup.sh
/azure-pipelines.yml
/docker-compose.yml
/.kotlin/sessions/kotlin-compiler-1088794503034823820.salive
/.kotlin/sessions/kotlin-compiler-11486975426400432652.salive
